page-card-pre-kids {
    .btn-comprar {
        position: absolute;
        top: 15px;
        right: 0px;
    }
    .btn-comprar2 {
        position: absolute;
        top: 3px;
        right: 0px;
    }
}
