<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="kits">
        Kits
      </ion-segment-button>
      <ion-segment-button value="explosionados">
        Partes
      </ion-segment-button>
    </ion-segment>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentCard()">
        <ion-icon ios="ios-cart-outline" md="md-cart"></ion-icon>
        <ion-badge item-right>{{ totalCard }}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="updateSchedule()"
                   placeholder="Buscar">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'kits'">
      <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-list>
        <ion-item-group>
          <ion-list-header color="light">
            Kits
          </ion-list-header>
          <ion-item *ngFor="let item of lista">
            <ion-fab right top pegado *ngIf="item.mostrar">
              <button ion-fab mini (click)="presentCard()">
                <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
              </button>
            </ion-fab>
            <button ion-item (click)="presentFilter(item)">
              <ion-avatar item-left>
                <img src="https://image.flaticon.com/icons/svg/145/145547.svg">
              </ion-avatar>
              <h3>{{item.kit.nombre}}</h3>
              <p>Descuento del 12%</p>
              <div class="item-note" item-right>
                {{item.item.length - item.descontar}}/{{item.item.length}} 
              </div>
            </button>
          </ion-item>
          <ion-list-header [hidden]="lista.length > 0">
              No se han encontrado Kits
          </ion-list-header>
        </ion-item-group>
      </ion-list>
    </div>

    <ion-list *ngSwitchCase="'explosionados'">
      <ion-item>
        <ion-thumbnail item-left>
          <img src="img/thumbnail-kitten-1.jpg">
        </ion-thumbnail>
        <h2>Luna</h2>
      </ion-item>
    </ion-list>
  </div>
</ion-content>


